.App {
  text-align: center; 
  background-color: #282c34;
}

.App-text{
    color: white;
}


.App-header {
 
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(13px + 2vmin);
  font-weight: 500;
  color: rgb(129, 145, 233);
}

